.response_above-text {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    font-size: 11px;
    padding: 0px 5px 0px 8px;
    color: #bd9f67;
    background: #243137;
    opacity: 0;
    font-weight: bold;
    letter-spacing: 7px;
    transition: all 0.5s ease-in-out;
  }

  .response_card:hover .response_above-text {
    letter-spacing: 3px;
    opacity: 1;
    transform: translateX(-50%);
    width: 50%;
    z-index: 1;
  }
  .response_card:hover .response_above-text:hover {
    cursor: pointer;
    font-size: 12px;
    width: 55%;
    text-decoration: underline;
  }